[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nextcord = "*"
openai = "*"
google-api-python-client = "*"
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.10"
